absl-py==2.4.0
accelerate==1.12.0
addict @ file:///nvme/wheels/addict-2.4.0-py3-none-any.whl#sha256=249bb56bbfd3cdc2a004ea0ff4c2b6ddc84d53bc2194761636eb314d5cfa5dfc
aiofile==3.9.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
airportsdata==20250909
alembic==1.4.3
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
anywidget==0.10.0
apache-tvm-ffi==0.1.8.post2
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array_record==0.8.3
astor==0.8.1
asttokens==3.0.1
astunparse==1.6.3
async-generator==1.10
asyncpg==0.31.0
attrs==25.4.0
Authlib==1.7.0
av==16.1.0
bcrypt==5.0.0
beartype==0.22.9
beautifulsoup4==4.14.3
bitsandbytes==0.49.0
blake3==1.0.8
blinker==1.9.0
blis==1.3.3
blobfile==3.0.0
boto3==1.42.39
botocore==1.42.39
brotli==1.2.0
build==1.3.0
cachetools==6.2.4
caio==0.9.25
cairocffi==1.7.1
CairoSVG==2.8.2
catalogue==2.0.10
cbor2==5.8.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
chex==0.1.91
click==8.3.1
cloud-sql-python-connector==1.20.2
cloudpathlib==0.23.0
cloudpickle==3.1.2
clu==0.0.12
comm==0.2.3
compressed-tensors==0.13.0
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.5
cssselect2==0.9.0
cuda-bindings==13.1.0
cuda-pathfinder==1.3.3
cuda-python==13.1.0
cupy-cuda12x==13.6.0
cycler==0.12.1
cyclopts==4.11.0
cymem @ file:///home/hooman/Downloads/cymem-2.0.13-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl#sha256=f190a92fe46197ee64d32560eb121c2809bb843341733227f51538ce77b3410d
dataclasses-json==0.6.7
datasets==4.4.1
decorator==5.2.1
decord2==2.0.0
defusedxml==0.7.1
depyf==0.20.0
dialog @ git+https://github.com/google-deepmind/dialog.git@44599a4047be73acb203501594d01e19107b688b
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dm-tree==0.1.10
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.4
# Editable install with no version control (dots_ocr==1.0)
-e /home/hooman/PycharmProjects/RegAssist/new_architecture/dots.ocr
# Editable install with no version control (dotsocr==1.0)
-e /home/hooman/PycharmProjects/RegAssist/new_architecture/dotsocr
durationpy==0.10
einops==0.8.1
email-validator==2.3.0
et_xmlfile==2.0.0
etils==1.14.0
exceptiongroup==1.3.1
executing==2.2.1
faiss-cpu==1.13.1
fastapi==0.124.0
fastapi-cli==0.0.21
fastapi-cloud-cli==0.12.0
fastar==0.8.0
fastmcp==3.2.4
fastrlock==0.8.3
ffmpy==1.0.0
filelock==3.19.1
filetype==1.2.0
Fingilish==1.0.1
finglish @ file:///home/hooman/Downloads/finglish-master
flash_attn @ file:///home/hooman/Downloads/flash_attn-2.8.3+cu130torch2.9-cp312-cp312-linux_x86_64.whl
flashinfer-cubin==0.6.1
flashinfer-python==0.6.1
flatbuffers==25.12.19
flax==0.12.7
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.9.0
gast==0.7.0
gemma==3.3.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
google==3.0.0
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-cloud-aiplatform==1.148.1
google-cloud-bigquery==3.41.0
google-cloud-core==2.5.1
google-cloud-resource-manager==1.17.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-genai==1.73.1
google-pasta==0.2.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
gradio==6.5.1
gradio_client==2.0.3
gradio_image_annotation==0.5.0
grain==0.2.16
graphviz==0.21
greenlet==3.3.0
griffelib==2.0.2
groovy==0.1.2
grpc-google-iam-v1==0.14.4
grpcio==1.80.0
grpcio-health-checking==1.75.1
grpcio-reflection==1.75.1
grpcio-status==1.80.0
grpcio-tools==1.75.1
h11==0.16.0
h2==4.3.0
h5py==3.14.0
hf-xet==1.4.3
hf_transfer==0.1.9
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.2
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.12.0
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
ijson==3.4.0.post0
ImageIO==2.37.3
immutabledict==4.3.1
importlib_metadata==8.7.1
interegular==0.3.3
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jax==0.10.0
jaxlib==0.10.0
jaxtyping==0.3.9
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.1.0
joblib==1.5.2
joserfc==1.6.4
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
jupyterlab_widgets==3.0.16
kauldron==1.4.1
keras==3.14.0
keyring==25.7.0
kiwisolver==1.4.9
kubernetes==35.0.0
langchain==1.2.18
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.4.0
langchain-protocol==0.0.15
langchain-text-splitters==1.1.0
langgraph==1.2.0
langgraph-checkpoint==4.1.0
langgraph-checkpoint-postgres==3.1.0
langgraph-checkpoint-sqlite==3.0.3
langgraph-prebuilt==1.1.0
langgraph-sdk==0.3.0
langsmith==0.4.59
lark==1.2.2
lazy-loader==0.5
libclang==18.1.1
llama_cpp_python==0.3.20
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
loguru==0.7.3
lxml==6.0.2
Mako==1.3.10
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline==0.2.1
mcp==1.26.0
mdurl==0.1.2
mediapy==1.2.6
minio==7.2.20
ml_collections==1.1.0
ml_dtypes==0.5.4
model-hosting-container-standards==0.1.13
modelscope==1.32.0
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.0
multiprocess==0.70.18
murmurhash @ file:///home/hooman/Downloads/murmurhash-1.0.15-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl#sha256=5a301decfaccfec70fe55cb01dde2a012c3014a874542eaa7cc73477bb749616
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.14.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.5
ninja==1.13.0
nltk==3.9.2
numba==0.61.2
numpy==2.2.6
nvidia-cublas==13.0.0.19
nvidia-cuda-cupti==13.0.48
nvidia-cuda-nvrtc==13.0.48
nvidia-cuda-runtime==13.0.48
nvidia-cudnn-cu13==9.13.0.50
nvidia-cudnn-frontend==1.18.0
nvidia-cufft==12.0.0.15
nvidia-cufile==1.15.0.42
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.3.29
nvidia-cusparse==12.6.2.49
nvidia-cusparselt-cu13==0.8.0
nvidia-cutlass-dsl==4.4.0
nvidia-cutlass-dsl-libs-base==4.4.0
nvidia-ml-py==13.590.48
nvidia-nccl-cu13==2.27.7
nvidia-nvjitlink==13.0.39
nvidia-nvshmem-cu13==3.3.24
nvidia-nvtx==13.0.39
oauthlib==3.3.1
openai==2.6.1
openai-harmony==0.0.4
openapi-pydantic==0.5.1
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.41.1
opt_einsum==3.4.0
optax==0.2.8
optree==0.19.0
orbax-checkpoint==0.11.36
orjson==3.11.5
ormsgpack==1.12.0
outlines==0.1.11
outlines_core==0.2.11
packaging==25.0
pandas==2.3.3
parsivar==0.2.3.1
parso==0.8.5
partial-json-parser==0.2.1.1.post7
pathable==0.5.0
pdf2image==1.17.0
pexpect==4.9.0
pillow==11.3.0
pip @ file:///home/hooman/pycharm/plugins/python-ce/helpers/pip-24.3.1-py2.py3-none-any.whl#sha256=3790624780082365f47549d032f3770eeb2b1e8bd1f7b2e02dace1afa361b4ed
platformdirs==4.9.6
plotly==6.7.0
portalocker==3.2.0
preshed @ file:///home/hooman/Downloads/preshed-3.0.12-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl#sha256=91893404858502cc4e856d338fef3d2a4a552135f79a1041c24eb919817c19db
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
promise==2.3
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.5
psutil==7.1.3
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg-pool==3.3.1
psycopg2-binary==2.9.11
psygnal==0.15.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-key-value-aio==0.4.4
py-spy==0.4.1
pyarrow==22.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybase64==1.4.3
pycountry==24.6.1
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.11.0
PyMuPDF==1.27.1
pyparsing==3.3.2
pyperclip==1.11.0
pyphen==0.17.2
pyproject_hooks==1.2.0
pyspellchecker==0.8.4
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-editor==1.0.4
python-json-logger==4.0.0
python-magic==0.4.27
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
qdrant-client==1.16.2
qwen-vl-utils==0.0.14
rank-bm25==0.2.2
RapidFuzz==3.14.3
ray==2.53.0
redis==7.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.2
rich-rst==1.3.2
rich-toolkit==0.19.4
rignore==0.7.6
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.16.3
SecretStorage==3.5.0
semantic-version==2.10.0
sentence-transformers==5.2.0
sentencepiece==0.2.1
sentry-sdk==2.53.0
setproctitle==1.3.7
setuptools==80.9.0
sgl-kernel==0.3.18.post2
shellingham==1.5.4
simple-parsing==0.1.8
simplejson==4.1.1
six==1.17.0
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy @ file:///home/hooman/Downloads/spacy_legacy-3.0.12-py2.py3-none-any.whl#sha256=476e3bd0d05f8c339ed60f40986c07387c0a71479245d6d0f4298dbd52cda55f
spacy-loggers @ file:///home/hooman/Downloads/spacy_loggers-1.0.5-py3-none-any.whl#sha256=196284c9c446cc0cdb944005384270d775fdeaf4f494d8e269466cfa497ef645
SQLAlchemy==2.0.45
sqlite-vec==0.1.9
sqlparse==0.5.5
srsly==2.5.2
sse-starlette==3.2.0
stack-data==0.6.3
starlette==0.50.0
streamlit==1.52.2
structlog==25.5.0
supervisor==4.3.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.21.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.3
tensorstore==0.1.82
termcolor==3.3.0
textstat==0.7.12
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.4.11
tiktoken==0.12.0
timm==1.0.16
tinycss2==1.5.1
tokenizers==0.22.2rc0
toml==0.10.2
tomlkit==0.13.3
toolz==1.1.0
torch==2.9.1+cu130
torchaudio==2.9.1+cu130
torchvision==0.24.1+cu130
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformers @ file:///storage/models/Engines/transformers-5.10.1-py3-none-any.whl#sha256=ccb919ea1b77338b44d0d45d23f7472081906b1bb6ed8e5f5cf4d692d1da03d4
treescope==0.1.10
triton==3.5.1
typeguard==4.5.1
typer==0.23.1
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uncalled-for==0.3.1
uritemplate==4.2.0
urllib3==2.6.3
uuid_utils==0.12.0
uv==0.9.16
uvicorn==0.38.0
uvloop==0.22.1
vllm==0.15.1
wadler_lindig==0.1.7
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.3
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.8
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==2.1.0
xgrammar==0.1.29
xmanager==0.7.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.1
zstandard==0.25.0
